.navbar {
    padding: 0px 100px;
}

.nav-text-left {
    font-family: poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    background: linear-gradient(90deg, #F99B4D 0%, #FE8499 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

a {
    text-decoration: none
}

.home {
    padding: 100px;
}

.home h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
}

.gr {
    font-weight: 800;
    background: -webkit-linear-gradient(90deg, #F99B4D 0%, #FE8499 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    color: #10080A;
}

.features {
    padding: 70px 100px;
}

.features p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #F9F9F9;
}

.about {
    padding: 150px 0;
}

.about h1 {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    color: #FFFFFF;
}

.about ul li {
    font-size: 17px;
    line-height: 44px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    font-weight: 400;
}

.slt h1 {
    margin-top: 140px;
    background: linear-gradient(90deg, #F99B4D 0%, #FE8499 100%);
    font-weight: 800;
    font-size: 56px;
    line-height: 84px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slt .form-control {
    padding: 15px;
    border-radius: 12px;
    width: 40%;
    margin: 40px auto;
    color: #FFFFFF
}

.slt button {
    font-weight: bold;
    padding: 5px 33px;
}

button:hover {
    background-color: #DCDCDC !important;
}

.slt input {
    border: solid 3px transparent;
    background-image: linear-gradient(#10080A, #10080A), linear-gradient(90deg, #F99B4D 0%, #FE8499 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.form-control:focus {
    color: #ffffff;
    background-color: none !important;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}